{% comment %} Load HTML files into an Iframe {% endcomment %}

<script src="/assets/js/iframeResizer.min.js"></script>


<script type="text/javascript">
  {% for chart in page.hv-loader %}
  document.addEventListener("DOMContentLoaded", function () {
      let id = "{{ chart[0] }}";
      let el = document.getElementById("{{ chart[0] }}")
      if (el===null)
        alert("Error: cannot embed HTML chart because the div element with id '{{ chart[0] }}' does not exist.")
      let spec = "{{ site.baseurl }}/{{ chart[1] }}";
      el.innerHTML = `<iframe id="${id}-iframe" scrolling="no" frameborder="0" src="${spec}"></iframe>`;
    iFrameResize({ log: true }, `#${id}-iframe`);
  });
  {% endfor %}
</script>
